@import url("./form.css");
@import url("./preview.css");
@import url("./workMessage.css");

.body {
  margin: 0px auto;
  font-family: "Noto Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin: auto auto;
  min-height: 100vh;

  /* TODO */
  /* зачем картинка? это же просто фоновый цвет (я долгобился чтобы растянуть контейнер на весь экран, но он упрямо не хотел растягиваться и поэтому добавлена легкая картинка которая заполняет все пространство)*/
  background-image: url("../img/background.png");
}
